name: CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: ["3.10", "3.12"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{matrix.python-version}}

      - name: Install pip/build/pytest
        run: python -m pip install --upgrade pip build pytest

      - name: Test Rust
        run: cargo test --verbose --no-default-features
        working-directory: rust

      - name: Build & Install Python package
        run: |
          python -m build .
          python -m pip install dist/*.whl
        working-directory: python

      - name: Pytest
        run: pytest
        working-directory: python
